:root {
    --primary-color: #0077B6;
    --recording-color: #D30000
}

h2 {
    margin-top: 3rem
}

.microphone-button {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.microphone-button.idle {
    background-color: var(--primary-color);
    border: none;
}

.microphone-button.loading {
    background-color: white;
    border-color: var(--recording-color);
    border-width: 3px;
    border-style: solid;
}

.microphone-button.loading path {
    fill: var(--recording-color)
}

.microphone-button.listening {
    background-color: var(--recording-color);
    border: none;
}
