:root {
    --primary-color: #0077B6;
    --recording-color: #D30000
}

h2 {
    margin-top: 3rem
}

.mic-button-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.microphone-button {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.microphone-button.idle {
    background-color: var(--primary-color);
    border: none;
}

.microphone-button.loading {
    background-color: white;
    border-color: var(--recording-color);
    border-width: 3px;
    border-style: solid;
}

.microphone-button.loading path {
    fill: var(--recording-color)
}

.microphone-button.listening {
    background-color: var(--recording-color);
    border: none;
}

.microphone-button.allow-access {
    background-color: green;
    color: white;
    border: none;
}